*{
    margin:10px;
    padding : 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color:black;
        display: flex;
        flex-flow: column nowrap;

    }
        .menu{
            background-color:aquamarine; 
            display: flex; 
            flex-flow: row nowrap;
        }
            .logo{
                background-color:darkgreen;
            
            }
            .nav{
                background-color:darkgreen;
            }
            .social{
                background-color:darkgreen;
            }
        .texto-principal{
            background-color: coral;
        }
            h1{
                background-color: gold;
            }

    .section{
        background-color: black;
    }

        .articulos{
            background-color: blueviolet;
        }
            article{
                background-color: blanchedalmond;
            }
        .navegacion{
            background-color: deeppink;
        }
        .aside{
            background-color:beige; 
        }
            .publicidad{
                background-color: chartreuse;
            }
    .footer{
        background-color: black;
    }
        .pie{
            background-color: darkgoldenrod;
        }

