@media screen and (max-width:1920px){
    body{
        background-color: blueviolet;
    }
}

@media screen and (max-width:1280px){
    body{
        background-color:aquamarine;
    }
}

@media screen and (max-width:1280px){
    body{
        background-color:aquamarine;
    }
}

@media screen and (max-width:800px){
    body{
        background-color:brown;
    }
}

@media screen and (max-width:360px){
    body{
        background-color:chartreuse;
    }
}